/* src/styles.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$primary-color: #6c63ff;
$primary-color: #d3d2fe;
// $primary-color: #5e55fb;
$secondary-color: #ffffff;
$background-color: #f5f5f5;
$text-color: #333;
$transition-duration: 0.3s;
$card-background-color: white;
$card-hover-color: $primary-color;

// body {
//   background-color: $primary-color;
// }

// .navbar {
//   background-color: $primary-color;
//   box-shadow: 0px 4px 2px -2px gray;
//   a {
//     color: white;
//     &:hover {
//       color: #ddd;
//     }
//   }
// }
