$primary-color: #6c63ff;

.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;

  .reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      margin-bottom: 20px;
      color: $primary-color;
      font-size: 20px;
    }

    form {
      background-color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-radius: 30px;
      padding: 20px;
      width: 100%;
      max-width: 280px; // Adjust width as needed
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      .form-group {
        margin-bottom: 5px;

        label {
          display: block;
          margin-bottom: 5px;
          color: #333;
        }

        input {
          height: 35px;
          width: 100%;
          border-radius: 30px;
          padding: 0 15px;
          border: 1px solid #ddd;
          font-size: 16px;
          box-sizing: border-box;
          &:focus {
            outline: none;
            border: 2px solid $primary-color;
            box-shadow: 0 0 5px rgba($primary-color, 0.5);
          }
        }
      }

      button {
        background-color: $primary-color;
        color: white;
        padding: 8px 20px; // Adjusted for better button sizing
        border-radius: 30px;
        border: none;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}
