$primary-color: #5e55fb;
$background-color: #f9f9f9;
$text-color: #333;
$form-background-color: #fff;

.faq-section {
  padding: 2.5rem;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: flex-start; // Changed to avoid affecting image when accordion expands
}

.faq-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  background-color: $form-background-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .faqs-content {
    flex: 1 1 45%;
    max-width: 45%;
    padding: 1rem;

    .MuiAccordion-root {
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: none;

      .MuiAccordionSummary-root {
        background-color: $primary-color;
        color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .MuiAccordionSummary-expandIcon {
          color: #fff;
        }

        .MuiTypography-root {
          font-weight: bold;
        }
      }

      .MuiAccordionDetails-root {
        background-color: $form-background-color;
        color: $text-color;
        padding: 1rem;
      }
    }
  }

  .faq-image {
    flex: 1;
    min-width: 200px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
.MuiAccordionDetails-root {
  max-height: 200px; // Adjust as needed
  overflow: auto;
}
